# Ignore Python bytecode cache files
__pycache__/

# Ignore pytest cache
.pytest_cache/

# Ignore virtual environment folder
venv/
envs/

# Ignore other common files
*.pyc
*.pyo
*.pyd

# Ignore VSCode config
.vscode/

# site-packages.pth
site-packages.pth
